/*
	 Organic Tabs
	 by Chris Coyier
	 http://css-tricks.com
*/

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}
a:focus {
	outline: 0;
}
p {
	font-size: 15px;
	margin: 0 0 15px 0;
}
#page-wrap {
	width: 440px;
	margin: 20px auto;
}
/* Generic Utility */
.hide {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
/* Specific to example one */

#example-one {
	background: #eee;
	padding: 10px;
	margin: 0 0 15px 0;
	-moz-box-shadow: 0 0 5px #666;
	-webkit-box-shadow: 0 0 5px #666;
}
#example-one .nav {
	overflow: hidden;
	margin: 0;
}
#example-one .nav li {
	width: 97px;
	float: left;
	margin: 0 10px 0 0;
	border:1px solid #ccc;
}
#example-one .nav li.last {
	margin-right: 0;
}
#example-one .nav li a {
	display: block;
	padding: 5px;
	background: #F1F3F6;
	color: white;
	font-size: 10px;
	text-align: center;
	border: 0;
}
#example-one .nav li a:hover {
	background-color: #111;
}
#example-one ul {
	list-style: none;
}
#example-one ul li a {
	display: block;
	border-bottom: 1px solid #666;
	padding: 4px;
	color: #666;
}
#example-one ul li a:hover {
	background: #fe4902;
	color: white;
}
#example-one ul li:last-child a {
	border: none;
}
#example-one ul li.nav-one a.current, #example-one ul.featured li a:hover {
	background-color: #0575f4;
	color: white;
}
#example-one ul li.nav-two a.current, #example-one ul.core li a:hover {
	background-color: #d30000;
	color: white;
}
#example-one ul li.nav-three a.current, #example-one ul.jquerytuts li a:hover {
	background-color: #8d01b0;
	color: white;
}
#example-one ul li.nav-four a.current, #example-one ul.classics li a:hover {
	background-color: #FE4902;
	color: white;
}
/* Specific to example two */

#example-two .list-wrap {
	padding: 20px 10px 10px 10px;
	margin: 0 0 15px 0;
	border:1px solid #c0c0c0;
	width:680px;
	border-top:none;
}
#example-two ul {
	list-style: none;
}
#example-two ul li a {
	display: block;
	border-bottom: 1px solid #666;
	
	color: #666;
}
#example-two ul li a:hover {
	color:#666;
}
#example-two ul li:last-child a {
	border: none;
}
#example-two .nav {
	overflow: hidden;
	background:transparent url(../images/tab_dv.jpg) scroll -10px 5px repeat-x;
	height:36px;
	width:701px;
}
#example-two .nav li {	
	float: left;
	margin: 0 3px 0 0;
	height:36px;
	line-height:36px;
	background-color:#FFF;
}
#example-two .nav li.last {
	margin-right: 0;
}
#example-two .nav li a {
	display: block;		
	color: #000;
	font-size: 13px;
	text-align: center;
	border: 0;
	background:transparent url(../images/tabl.png) scroll -1px 0px no-repeat;
}
#example-two .nav li a span {
	display:block;
	padding: 0 10px 0 0;
	margin:0 0px 0 9px;
	font-weight:bold;
	background:transparent url(../images/tabr.png) scroll right top no-repeat;
}
#example-two li a.current, #example-two li a.current:hover {	
	background:transparent url(../images/tabl_active.png) scroll -1px 0px no-repeat;
	color: #F00;
	text-decoration:none;
	display:block;
	height:36px;
}
#example-two li a.current span, #example-two li a.current:hover span {	
	background:transparent url(../images/tabr_active.png) scroll right top no-repeat;
	display:block;
	padding: 0 10px 0 0;
	margin:0 0px 0 9px;
	font-weight:bold;

}
#example-two .nav li a:hover, #example-two .nav li a:focus {
}
